body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #ff7f00, #000000); /* Laranja e preto */
    color: #fff; /* Branco */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: #fff; /* Branco */
    background-color: #ff7f00; /* Laranja */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra preta suave */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover {
    background-color: #000000; /* Preto */
    color: #ff7f00; /* Laranja no texto */
    transform: scale(1.1);
}
